.logo {
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  transition: color 0.3s;

  &:hover {
    color: $neptune;
    transition: fill 0.3s;
  }

  &:active {
    opacity: 0.6;
  }
}
