.main-slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 0;

  &__text {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 120px;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    background-color: $neptune;

    @media (max-height: 820px) {
      height: 80px;
    }
  }

  &__media {
    height: 100%;
  }

  &__play {
    left: 43%;
    top: 30%;
  }

  &__btn {
    position: absolute;
    bottom: 55px;
    z-index: 50;
    width: 14px;
    height: 14px;

    &--left {
      left: 55px;
    }

    &--right {
      left: auto;
      right: 50px;
      transform: rotate(180deg);
    }

    @media (max-height: 820px) {
      bottom: 35px;
    }
  }

  &__btn-icon {
    stroke: $white;
    stroke-width: 2;
    transition: stroke 0.3s;

    &:hover {
      stroke: $alto;
      transition: stroke 0.3s;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
