<section class="become-travel">
  <div class="container">
    <h2 class="section-title become-travel__title">Become A Travel Pro In One Easy Lesson</h2>
    <ul class="become-travel__list">
      <li class="become-travel__item">
        <a class="become-travel__link" href="#">
          <img class="become-travel__image" src="img/become/become-1.jpg" alt="Travel image" width="367" height="551">
          <p class="become-travel__text">Vacation Home Rental Success</p>
        </a>
      </li>
      <li class="become-travel__item">
        <a class="become-travel__link" href="#">
          <img class="become-travel__image" src="img/become/become-2.jpg" alt="Travel image" width="367" height="551">
          <p class="become-travel__text">Vacation Home Rental Success</p>
        </a>
      </li>
      <li class="become-travel__item">
        <a class="become-travel__link" href="#">
          <img class="become-travel__image" src="img/become/become-3.jpg" alt="Travel image" width="367" height="551">
          <p class="become-travel__text">Vacation Home Rental Success</p>
        </a>
      </li>
      <li class="become-travel__item">
        <a class="become-travel__link" href="#">
          <img class="become-travel__image" src="img/become/become-4.jpg" alt="Travel image" width="367" height="551">
          <p class="become-travel__text">Vacation Home Rental Success</p>
        </a>
      </li>
    </ul>
  </div>
</section>
