<acticle class="blog-article">
  <a class="blog-article__category btn" href="#">Featured</a>
  <h3 class="blog-article__title">How To&nbsp;Fly A&nbsp;Private Jet On&nbsp;Your Next Trip</h3>
  <p class="blog-article__description">
    The state of&nbsp;Utah in&nbsp;the United States is&nbsp;home to&nbsp;lots of&nbsp;beautiful National Parks,
    &amp;&nbsp;Bryce Canyon
    National Park ranks as&nbsp;three of&nbsp;the most magnificent &amp;&nbsp;awe inspiring.
  </p>
  <a class="blog-article__link btn" href="#">Read article</a>
</acticle>
