<section class="featured-videos">
  <div class="container featured-videos__container">
    <h2 class="featured-videos__title section-title section-title--center">Featured Videos</h2>
    <p class="featured-videos__description">
      The state of&nbsp;Utah in&nbsp;the United States is&nbsp;home to&nbsp;lots of&nbsp;beautiful National Parks,
      &amp;&nbsp;Bryce
      Canyon National Park ranks as&nbsp;three of&nbsp;the most magnificent &amp;&nbsp;awe inspiring.
    </p>
  </div>
  <div class="slider-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="featured-videos__media slider-media">
          <button class="featured-videos__play videos-play btn-reset" aria-label="Play video">
            <svg class="featured-videos__play-icon" width="68" height="68">
              <use xlink:href="img/sprite.svg#icon-play"/>
            </svg>
          </button>
          <video class="video" src="videos/video-slider/video-3.mp4" preload="metadata" controls muted
                 playsinline></video>
        </div>
        <h3 class="slide-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide">
        <div class="featured-videos__media slider-media">
          <button class="featured-videos__play videos-play btn-reset" aria-label="Play video">
            <svg class="featured-videos__play-icon" width="68" height="68">
              <use xlink:href="img/sprite.svg#icon-play"/>
            </svg>
          </button>
          <video class="video" src="videos/video-slider/video-4.mp4" preload="metadata" controls muted
                 playsinline></video>
        </div>
        <h3 class="slide-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
      <div class="swiper-slide">
        <div class="featured-videos__media slider-media">
          <button class="featured-videos__play videos-play btn-reset" aria-label="Play video">
            <svg class="featured-videos__play-icon" width="68" height="68">
              <use xlink:href="img/sprite.svg#icon-play"/>
            </svg>
          </button>
          <video class="video" src="videos/video-slider/video-5.mp4" preload="metadata" controls muted
                 playsinline></video>
        </div>
        <h3 class="slide-title">A Guide To Rocky Mountain Vacations</h3>
      </div>
    </div>
  </div>
</section>
