<ul class="feature-list">
  <li class="feature-list__item">
    <article class="feature-list__article">
      <div class="feature-list__image">
        <img src="img/avatars/avatar-1.jpg" alt="Фотография пользователя" width="48" height="48">
      </div>
      <div class="feature-list__text">
        <h3 class="feature-list__title">
          <a class="feature-list__link" href="#">Do&nbsp;A&nbsp;Sporting Stag Do&nbsp;In&nbsp;Birmingham</a>
        </h3>
        <time class="feature-list__date" datetime="2019-12-13 12:00">13 Dec 2019</time>
      </div>
    </article>
  </li>
  <li class="feature-list__item">
    <article class="feature-list__article">
      <div class="feature-list__image">
        <img src="img/avatars/avatar-2.jpg" alt="Фотография пользователя" width="48" height="48">
      </div>
      <div class="feature-list__text">
        <h3 class="feature-list__title">
          <a class="feature-list__link" href="#">From Wetlands To&nbsp;Canals And Dams Amsterdam
            Is&nbsp;Alive</a>
        </h3>
        <time class="feature-list__date" datetime="2019-12-13 12:00">13 Dec 2019</time>
      </div>
    </article>
  </li>
  <li class="feature-list__item">
    <article class="feature-list__article">
      <div class="feature-list__image">
        <img src="img/avatars/avatar-3.jpg" alt="Фотография пользователя" width="48" height="48">
      </div>
      <div class="feature-list__text">
        <h3 class="feature-list__title">
          <a class="feature-list__link" href="#">Stu Unger Rise And Fall Of&nbsp;A&nbsp;Poker Genius</a>
        </h3>
        <time class="feature-list__date" datetime="2019-12-13 12:00">13 Dec 2019</time>
      </div>
    </article>
  </li>
  <li class="feature-list__item">
    <article class="feature-list__article">
      <div class="feature-list__image">
        <img src="img/avatars/avatar-4.jpg" alt="Фотография пользователя" width="48" height="48">
      </div>
      <div class="feature-list__text">
        <h3 class="feature-list__title">
          <a class="feature-list__link" href="#">New Ideas For A&nbsp;Low Cost Vacation On&nbsp;Water</a>
        </h3>
        <time class="feature-list__date" datetime="2019-12-13 12:00">13 Dec 2019</time>
      </div>
    </article>
  </li>
</ul>
