<section class="first">
  <div class="container first__container">
    <a class="first__link" href="#">New book</a>
    <h1 class="first__title">Mother Earth Hosts Our Travels</h1>
    <p class="first__description">
      There are not many cities that have experienced such social and political extremes in&nbsp;recent history
      as&nbsp;Amsterdam. In&nbsp;the 20th century alone, Amsterdam faced the atrocities of&nbsp;war for the first
      time in&nbsp;400&nbsp;years, became the radical center of&nbsp;1960s social movements
      and witnessed a&nbsp;complete
    </p>
    <button class="first__btn btn-reset btn">Buy The book</button>
    <div class="first__bottom">
      @include('../partials/search-form.html')
      @include('../partials/main-slider.html')
    </div>
  </div>
</section>
