<section class="inspirations">
  <div class="container">
    <h3 class="inspirations__title section-title section-title--center">Inspirations</h3>
    <p class="inspirations__description">
      The state of&nbsp;Utah in&nbsp;the United States is&nbsp;home to&nbsp;lots of&nbsp;beautiful National Parks,
      &amp;&nbsp;Bryce Canyon National Park ranks as&nbsp;three of&nbsp;the most magnificent &amp;&nbsp;awe
      inspiring.
    </p>
    <ul class="grid inspirations__list">
      <li class="inspirations__item inspirations__item--big inspirations__item--item-1">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">Party Jokes Startling But Unnecessary</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-6.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-7.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--item-2">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">Traveling To&nbsp;Barcelona</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-8.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--bigheight inspirations__item--item-3">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">Party Jokes Startling But Unnecessary</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-8.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--bigheight inspirations__item--item-4">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">Maui By&nbsp;Air The Best Way Around The Island</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-8.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--bigheight inspirations__item--item-5">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">A&nbsp;Guide To&nbsp;Rocky Mountain Vacations</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-8.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--item-6">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">Traveling To&nbsp;Barcelona</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-8.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
      <li class="inspirations__item inspirations__item--big inspirations__item--item-7">
        <div class="inspirations__text">
          <a class="inspirations__category" href="#">Destinatiosn</a>
          <h3 class="inspirations__title">
            <a class="inspirations__title-link" href="#">A&nbsp;Guide To&nbsp;Rocky Mountain Vacations</a>
          </h3>
          <ul class="inspirations__people">
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-5.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-6.jpg" alt="User photo" width="48" height="48">
            </li>
            <li class="inspirations__people-item">
              <img class="inspirations__people-avatar" src="img/avatars/avatar-7.jpg" alt="User photo" width="48" height="48">
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section
