<div class="main-menu">
  <button class="main-menu__close btn-reset" aria-label="Close menu">
    <svg class="main-menu__close-icon" width="32" height="32">
      <use xlink:href="img/sprite.svg#icon-close"/>
    </svg>
  </button>
  <nav class="main-menu__nav">
    <ul class="main-menu__list">
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">Become A Travel</a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">Featured Stories</a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">Featured Videos</a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">Newsletter</a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">Inspirations</a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
