<div class="main-slider">
  <div class="swiper-container">
    <button class="main-slider__btn main-slider__btn--left btn-reset" aria-label="Arrow left">
      <svg class="main-slider__btn-icon" width="16" height="16">
        <use xlink:href="img/sprite.svg#icon-arrow"/>
      </svg>
    </button>
    <button class="main-slider__btn main-slider__btn--right btn-reset" aria-label="Arrow right">
      <svg class="main-slider__btn-icon" width="16" height="16">
        <use xlink:href="img/sprite.svg#icon-arrow"/>
      </svg>
    </button>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="main-slider__media slider-media">
          <button class="main-slider__play videos-play btn-reset" aria-label="Play video">
            <svg class="main-slider__play-icon" width="68" height="68">
              <use xlink:href="img/sprite.svg#icon-play"/>
            </svg>
          </button>
          <video class="video" src="videos/main-slider/video-1.mp4" muted playsinline></video>
        </div>
        <p class="main-slider__text">Wonderful moutain</p>
      </div>
      <div class="swiper-slide">
        <div class="main-slider__media slider-media">
          <button class="main-slider__play videos-play btn-reset" aria-label="Play video">
            <svg class="main-slider__play-icon" width="68" height="68">
              <use xlink:href="img/sprite.svg#icon-play"/>
            </svg>
          </button>
          <video class="video" src="videos/main-slider/video-2.mp4" muted playsinline></video>
        </div>
        <p class="main-slider__text">Wonderful moutain</p>
      </div>
    </div>
  </div>
</div>
