<section class="newsletter">
  <div class="container">
    <div class="newsletter__content">
      <div class="newsletter__text">
        <h3 class="newsletter__title section-title">Sign Up Our Newsletter</h3>
        <p class="newsletter__description">
          The state of&nbsp;Utah in&nbsp;the United States is&nbsp;home to&nbsp;lots of&nbsp;beautiful National
          Parks,&amp;&nbsp;Bryce CanyonNational Park ranks as&nbsp;three of&nbsp;the mostmagnificent.
        </p>
      </div>
      @include('../partials/sign-up-form.html')
    </div>
  </div>
</section>
