<footer class="page-footer">
  <div class="container page-footer__container flex">
    <div class="page-footer__column">
      <h2 class="page-footer__title">Company</h2>
      <nav class="page-footer__list">
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">About</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Press</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Blog</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Careers</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Security</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Driver Centre</a>
        </li>
      </nav>
    </div>
    <div class="page-footer__column">
      <h2 class="page-footer__title">Information</h2>
      <nav class="page-footer__list">
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Our Story</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Recipes</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Nutrition</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Resources</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Newsletter</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Contact</a>
        </li>
      </nav>
    </div>
    <div class="page-footer__column">
      <h2 class="page-footer__title">Information</h2>
      <nav class="page-footer__list">
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Customer service</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Recommend a restaurant</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Signup a restaurant</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Jobs</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Press</a>
        </li>
        <li class="page-footer__item">
          <a class="page-footer__link" href="#">Terms of use</a>
        </li>
      </nav>
    </div>
    <div class="page-footer__column">
      <h2 class="page-footer__title">Subscribe Now</h2>
      @include('../partials/subscribe-form.html')
    </div>
  </div>
  <div class="page-footer__bottom">
    <div class="container page-footer__bottom-container flex">
      <small class="page-footer__copy">
        © 2019 Mass Impressions. Designed by Tran Mau Tri Tam for Mass Impressions. All rights reserved.
      </small>
      <ul class="page-footer__links">
        <li class="page-footer__links-item">
          <a class="page-footer__link" href="#">Terms of Service</a>
        </li>
        <li class="page-footer__links-item">
          <a class="page-footer__link" href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
