<ul class="social">
  <li class="social__item">
    <a class="social__link social__link--facebook" href="#" aria-label="Go to Facebook">
      <svg class="social__icon social__icon--facebook" width="11" height="20">
        <use xlink:href="img/sprite.svg#icon-facebook"/>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link social__link--twitter" href="#" aria-label="Go to Twitter">
      <svg class="social__icon social__icon--twitter" width="20" height="16">
        <use xlink:href="img/sprite.svg#icon-twitter"/>
      </svg>
    </a>
  </li>
</ul>
