// FONTS
$Helvetica: "Helvetica", sans-serif;
$Playfair: "Playfair", sans-serif;
$SFCompact: "SFCompact", sans-serif;
$SFProDisplay: "SFProDisplay", sans-serif;
$SFProText: "SFProText", sans-serif;

// COLORS
$white: #ffffff;
$black: #000000;
$bismark: #3e637a;
$red-orange: #ff4019;
$burnt-sienna: #e8594e;
$gable-green: #1c2e3d;
$neptune: #73afba;
$mercury: #e4e4e4;
$limed-spruce: #3c4a51;
$river-bed: #4d5a5f;
$slate-gray: #788692;
$alto: #d9d9d9;
$rangoon-green: #100e0b;
$aqua-forest: #57a773;
$regent-gray: #959ea6;
$crimson: #e31d0e;
$boston-blue: #4196a6;


//GRADIENTS
$darkening-background: linear-gradient(180deg, rgba(28, 46, 59, 0.0001) 0%, #091117 100%);
$gradient-video-slider: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
